#welcome
{
	color: white;
	text-align: center;
}
#form
{
	color: #c5cae9;
}
#directions
{
	color: #c5cae9;
}
#dashboard
{
	color: white;
	text-align: center;
}
#score
{
	text-align: center;
}