#welcome
{
	color: white;
	text-align: center;
}
#form
{
	color: #c5cae9;
}
#directions
{
	color: #c5cae9;
}
#dashboard
{
	color: white;
	text-align: center;
}
#score
{
	text-align: center;
}
#win-game-message
{
	text-align: center;
}
#question1
{
	color: white;
}
#question2
{
	color: white;
}
#question3
{
	color: white;
}
#question4
{
	color: white;
}
#question5
{
	color: white;
}